body {
  overflow: hidden;
}

main {
  background-color: #282c34;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 0.1rem solid white;
  box-sizing: border-box;
  /* overflow: hidden; */
}

div {
  height: 33vh;
  width: 99vw;
}

.red {
  background-color: #300;
}

.green {
  background-color: #030;
}

.blue {
  background-color: #003;
}

div.container,
div.draggable {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  height: 40vmin;
  width: 40vmin;
  background-color: #c90;

  font-size: 8vmin;
}

div.container {
  left: calc(30vw - 1vmin);
  top: calc(30vh - 1vmin);
  background-color: #00000022;
  border: 1vmin inset #33333366;
}

div.draggable.flash {
  background-color: #fff
}

.unselectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
